.cart-wrapper {
    position: relative;
}

.cart-wrapper h3 {
    margin-top: 0;
    padding-right: 25px;
}

.remove-product {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background-color: transparent;
    font-size: 20px;
}

.drawer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cartproducts-warpper {
    flex: 1;
}

.subtotal-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.cart-wrapper .quantity {
    max-width: max-content;
}

.continue-shopping {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.continue-shopping p {
    font-size: 16px;
    font-weight: 400;
    color: #777777;
}