* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Jost';
  src: url("../src/assets/fonts/Jost-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Jost';
  src: url("../src/assets/fonts/Jost-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url("../src/assets/fonts/Jost-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url("../src/assets/fonts/Jost-Bold.ttf");
  font-weight: bold;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}

@media screen and (min-width:576) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width:768) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width:992) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width:1200) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width:1440px) {
  .container {
    max-width: 1320px;
  }
}


p {
  margin: 0;
  font-family: "Jost";
}

h1,
h2,
h3,
h4 {
  font-family: "Jost";
  margin: 0;
}